@font-face {
    font-family: 'opensans';
    src: url('../font/open_sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
:root{
    --tc-primary-color: #002eFF;
    --tc-primary-hover: #0657d1;
}

body{
    font-family: 'opensans';
}
/*nav inicio */


.navbar-one{
    background: var(--bs-gray-100);
}
.navbar-one .navbar-one_content{
    height: 2.3rem;
    align-items: center;
    display: flex;
}

.navbar-one .navbar-one_content h6{
    margin: 0;
    font-size: .8rem;
}

.navbar-one .navbar-one_content p{
    margin: 0;
    margin-left: auto;
    font-size: .9rem;
}
.navbar-one .navbar-one_content h6:hover{
    color: var(--tc-primary-color);
}

.logo_telecable{
    height: 2.6rem;
}
.navbar_principal{
    background: var(--tc-primary-color);
}
.navbar-nav{
    padding-left: 0;
    padding-bottom: 1rem;
    font-size: .9rem;
}
@media (min-width: 1000px) {
    .navbar-nav{
        padding-bottom: 0;
        padding-left: 3rem;
        font-size: 1rem;
    }
  }
.nav-link{
    color: var(--bs-white);
}
.nav-link:hover{
    color: aqua;
}
.nav_sesion{
    margin-left: auto;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    border: 0;
}
/*nav Fin */


/* Mantenimiento */
.main_content{
    display: flex;
    height: 83%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.main_content .content__mantenimiento{
    align-items: center;
    justify-content: center;
}
.main_content .content__mantenimiento .content__mantenimiento_text h6{
    padding-top: 4rem;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--tc-primary-color);
}
@media (min-width: 1000px) {
    .main_content .content__mantenimiento .content__mantenimiento_text h6{
        font-size: 1.6rem;
    }
  }

.main_content .content__mantenimiento .content__mantenimiento_text h1{
    font-size: 2rem;
    font-weight: 700;
}

@media (min-width: 1000px) {
    .main_content .content__mantenimiento .content__mantenimiento_text h1{
        font-size: 2.7rem;
    }
  }

.main_content .content__mantenimiento .content__mantenimiento_text p{
    font-size: 1rem;
    font-weight: 400;
}

@media (min-width: 1000px) {
    .main_content .content__mantenimiento .content__mantenimiento_text p{
        font-size: 1.3rem;
    }
  }

.main_content .content__mantenimiento .img_mant{
    height: 30rem;
}
/*Fin mantenimiento */

/* botones */
.btn_tc{
    border: 0;
        height: 2.2rem;
        width: 100%;
        font-weight: 600;
        font-size: 1rem;
        border-radius: .4rem;

}
@media (min-width: 1000px) {
    .btn_tc{
        border: 0;
        height: 2.4rem;
        width: auto;
        padding: 0 2rem;
        font-weight: 600;
        font-size: 1rem;
        border-radius: .4rem;
    }
  }
.tc_primary{
    color: var(--bs-white);
    background: var(--tc-primary-color);
}
.tc_primary:hover{
    color: var(--bs-white);
    background: var(--tc-primary-hover);
}
.tc_primary{
    color: var(--bs-white);
    background: var(--tc-primary-color);
}
.tc_primary:hover{
    color: var(--bs-white);
    background: var(--tc-primary-hover);
}
/* Fin Botones */
/*Slider*/

.bg_corporate {
    background: url('../img/fondo.jpg');
    height: 50vh;
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    background-repeat: no-repeat;
}
/*
.fondo {
    background: linear-gradient(90deg,rgba(0,68,129,.8) 0%,rgba(0,68,129,.8) 80%);
    padding-top: 12em;
    padding-bottom: 7em;
 }
*/
/*Fin Slider*/
/*cards*/
.card_content{
    padding-top: 5rem;
}
.card_corporate{
    height: 100%;
    border-radius: .5rem;
    background: var(--bs-white);
    padding: 1.5rem;
    border: solid 1px var(--bs-gray-400);
}
.card_corporate:hover{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15) !important;
}
.card_corporate .card_corporate_content h6{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
.card_corporate .card_corporate_content h1{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.card_corporate .card_corporate_content p{
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
}


.card_corporate .card_corporate_content .card_coporate_mont{
    display: flex;
    align-items: end;
}
/*Fin cards*/
/*Footer*/
.footer_tc{
    padding-top: 5rem;
    
}
/*FinFooter*/